.midi-piano {
  text-align: center;
  background-color: var(--main-color);
  height: max-content;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: auto;
}

#piano {
  max-height: 500px;
  min-height: 300px;
  height: 100%;
  display: block;
  box-shadow: 0 0.5em 1em 1em rgba(255, 255, 255, 0.5);
  overflow: scroll;
  overflow-x: hidden;
  border: 2px solid white;
  border-radius: 10px;
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
}

/* #piano::-webkit-scrollbar {
  display: none;
} */

@keyframes drop-in-info{
  0% {top: -100%; position: absolute;}
  100% {top: 25vh; position: fixed;}
}

#popup-info {
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  top: 12.5vh;
  left: 12.5vw;
  height: fit-content;
  padding: 3em 0;
  width: 75vw;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  z-index: 11;
  border-radius: 20px;
  /* animation-name: drop-in-info;
  animation-duration: 500ms;
  animation-fill-mode: forwards; */
}

.info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-text {
  color: black;
  display: block;
  font-size: 1.75em;
  margin: 0;
  text-align: left;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.keyboard .top-row {
  display: inherit;
  justify-content: center;
}

.keyboard .bottom-row {
  display: inherit;
}

.info .keyboard .key {
  display: inline-flex;
  height: 5em;
  width: 5em;
  background: white;
  color: black;
  border-radius: 10px;
  font-size: 2em;
  align-items: center;
  justify-content: center;
}

.info .keyboard .key.hidden {
  visibility: hidden;
}

.popup .exit-button {
  justify-content: left;
  align-self: start;
  float: left;
}

#piano::-webkit-scrollbar {
  width: 10px;
}

#piano::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 0 8px 8px 0;

}
 
#piano::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 0 8px 8px 0;

}

#piano::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 1000px) {
  #piano {
    max-height: 300px;
    min-height: 200px;
  }
}

@media only screen and (max-width: 800px) {
  #piano {
    /* max-height: 20vh; */
    display: none;
  }

  .piano-text {
    display: none;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */