#selectors {
  font: inherit;
  background: cornflowerblue;
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  /* width: 100vw; */
  transform-style: preserve-3d;
  z-index: 4;
  border-radius: 10px 10px 0 0;
}

.settings {
  height: 3vh;
  background-color: bisque;
  /* padding: .5vmin; */
  border: none;
  margin: 1px;
}

#timer-buttons {
  display: inline;
}

.playback-button {
  display: inline;
  background-color: #8ee4bd;
  color: black;
  border: none;
  border-radius: 4px;
  margin: 1px;
  padding: 1em;
  /* height: 5%; */
  /* width: 5%; */
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  vertical-align: middle;
  font-size: 1ex;
  outline: 4px;
  cursor: pointer;
  /* background-color: black; */
}

.stop-button:active {
  color: orange;
  /* background-color: yellow; */
}

.recording-button.active {
  color: red;
  /* background-color: red; */
}

.playing-button.active {
  color: green;
  /* background-color: green; */
}

.metronome-button.active {
  color: #e97e7e;
}

.save-export {
  display: inline-block;
}

.popup {
  display: flex;
  position: fixed;
  background-color: var(--main-color);
  outline: black;
  border-radius: 5px;
  height: max-content;
  width: max-content;
  align-items: center;
  border: none;
  animation-name: drop-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#popup-bg {
  display: flex;
  top: 0;
  position:fixed;
  z-index: 5;
  background-color: rgba(7, 52, 77, 0.857);
  width: 100%;
  height: 100%;
  animation-name: drop-in;
  animation-duration: 500ms;
  /* animation-delay: 100ms; */
  animation-fill-mode: forwards;
}

@keyframes drop-in{
  0% {top: -100%; position: absolute;}
  100% {top: 0%; position: fixed;}
}

@keyframes lift-out {
  0% {top: 0%; position: absolute;}
  100% {top: -100%; position: fixed;}
}

#popup-select {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.lift-out {
  animation-name: lift-out!important; 
  animation-duration: 500ms!important;
  animation-fill-mode: forwards!important;
}

.popup-button {
  margin: 10px 10px 10px 10px;
}

.bpm-input {
  width: 5ex;
  text-align: center;
  /* padding: 0 4px 0 4px; */
}

.settings-buttons {
  display: block;
}

.settings-button {
  display: inline;
  background-color: #e48ec9;
  margin: 1px;
  border: none;
  color: white;
  padding: .5% .5%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: 4px;
  cursor: pointer;
  border-radius: 50px;
}

.settings-button.left {
  border-radius: 50px 0 0 50px;
}

.settings-button.right {
  border-radius: 0 50px 50px 0;
}

.click-drag {
  text-align: center;
  background-color: bisque;
  color: black;
  height: 100%;
  /* padding: 4px 4px 3.5px 4px; */
  vertical-align: middle;
  height: 3.5vh;
  border: none;
}

.settings.button {
  /* padding: 4px 4px 3.5px 4px; */
  cursor: pointer;
  font-size: 1.5vmin;
}

.settings.input {
  background-color: white;
  /* padding: 4px 0 3.5px 0; */
  text-align: center;
  /* border-radius: 4px; */
}

#time {
  width: 2.5em;
  margin: 1px;
  padding: 1em;
  font-size: 1ex;
  vertical-align: middle;
  cursor: default;
  border: none;
  border-radius: 4px;
}

button.info {
  position: absolute;
  left: 0;
  border: none;
  background: none;
}

@media only screen and (max-width: 1000px) {
  .playback-button {
    font-size: calc(5px + 1.5vmin);
    padding: 1vmin;
    min-height: 23px;
    min-width: 23px;
  }

  #time {
    font-size: calc(5px + 1.5vmin);
    padding: 1vmin;
    max-height: 23px;
    /* min-width: 23px; */
  }

  .settings {
    font-size: 1.5vmin;
    padding: 1vmin;
    height: 1vh;
    min-height: 23px;
  }
}

@media only screen and (max-width: 400px) {
  .settings {
    /* height: 1vh; */
  }
}